[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyteomics = ">=3.4.2"
lxml = ">=4.9.1"
numpy = ">=1.14.3"
memory_profiler = "*"
[dev-packages]

[requires]
python_version = "3.10"
